page-pin-list {
  .pins-button {
    display: inline;
    margin: 0;
    width: 50%;
  }

  .pins-form {
  }

  .pins-form.is-hidden {
    display: none;
  }

  .pins-form.is-visible {
    display: visible;
  }

/*@-webkit-keyframes slideInBothWays {
    0% {
      transform: translate3d(-100%,0,0);
      opacity:0;
    }

    100% {
      transform: translate3d(0,0,0);
      opacity:1;
    }
  }

  .slide-in-both-ways {
    animation: slideInBothWays ease 1;
    animation-duration: 500ms;
    animation-delay: 0.2s;
    animation-fill-mode:forwards;
  }*/
}
