page-pin-list {
  .pins-button {
    display: inline;
    margin: 0;
    width: 50%;
  }

  .pins-form {
    // background-color: rgba(251, 162, 19, 0.2);
  }

  .pins-form .item {
    border: 0 !important;
  }

  // .pins-form .item .item-content {
    // background-color: transparent !important;
  // }

  .pins-form.is-hidden {
    display: none;
  }

  .pins-form.is-visible {
    display: visible;
  }

/*
  .pins-detailLink {
    text-decoration: none;
  }*/
}
