<ion-header>
  <ion-navbar>
    <ion-title>
      <img class="bag-logo" src="assets/images/bag.svg">
      Trick or Treat
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- Real floating action button, fixed. It will not scroll with the content -->
  <ion-fab top right edge>
    <button ion-fab mini color="dark" (click)="openAddPanel()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>

  <ion-card>
    <ion-card-content class="pins-form" [ngClass]="{
          'is-visible': formExpanded,
          'is-hidden': !formExpanded
        }">
      <form #form="ngForm"  novalidate (ngSubmit)="submitForm(form.value)">
      <ion-list>
        <ion-item>
          <ion-label floating>Enter new drop-off location</ion-label>
          <ion-input type="text" id="placeQuery" name="placeQuery"
              [(ngModel)]="newPin.place" minlength="2" required>
          </ion-input>
        </ion-item>

        <ion-item>
          <button ion-button type="submit" color="secondary" class="pins-button"
              [disabled]="!form.valid">
            <ion-icon name="checkmark-circle"></ion-icon>
          </button>

          <button ion-button color="danger" class="pins-button" (click)="cancelForm($event)">
            <ion-icon name="close-circle"></ion-icon>
          </button>
        </ion-item>
      </ion-list>
    </form>
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item-group>
      <ion-item-divider light>Approved Locations</ion-item-divider>

      <ion-item detail-push *ngFor="let pin of approvedPins | async">
        <h2>{{pin.name}}</h2>
        <p class="pins-address">
          {{pin.address}}<br>
          <small>Last updated {{formatDate(pin.updatedAt)}}</small>
        </p>

        <!-- details -->
        <!--button ion-button outline item-right icon-right>
          <ion-icon name="arrow-forward"></ion-icon>
        </button-->
        <!-- delete -->
        <button ion-button outline (click)="remove(pin)">
          <ion-icon name="trash"></ion-icon>
        </button>
        <!-- flag -->
        <button ion-button outline (click)="flag(pin)" *ngIf="!pin.flagged">
          <ion-icon name="flag"></ion-icon>
        </button>
        <!-- unflag -->
        <button ion-button outline (click)="unflag(pin)" *ngIf="pin.flagged">
          <ion-icon name="ios-flag-outline"></ion-icon>
        </button>
        <!-- unapprove -->
        <button ion-button outline (click)="unapprove(pin)" *ngIf="isApproved(pin)">
          <ion-icon name="checkmark-circle-outline"></ion-icon>
        </button>
        <!-- favorite -->
        <button ion-button outline (click)="favorite(pin)" *ngIf="!isFavorite(pin)">
          <ion-icon name="star"></ion-icon>
        </button>
        <!-- unfavorite -->
        <button ion-button outline (click)="unfavorite(pin)" *ngIf="isFavorite(pin)">
          <ion-icon name="star-outline"></ion-icon>
        </button>
      </ion-item>

    </ion-item-group>
    <ion-item-group>
       <ion-item-divider light>Locations Awaiting Moderation</ion-item-divider>
      <ion-item *ngFor="let pin of submittedPins | async">
        <h2>{{pin.name}}</h2>
        <p class="pins-address">
          {{pin.address}}<br>
          <small>Last updated {{formatDate(pin.updatedAt)}}</small>
        </p>

        <!-- details -->
        <!--button ion-button outline item-right icon-right>
          <ion-icon name="arrow-forward"></ion-icon>
        </button-->
        <!-- delete -->
        <button ion-button outline (click)="remove(pin)">
          <ion-icon name="trash"></ion-icon>
        </button>
        <!-- flag -->
        <button ion-button outline (click)="flag(pin)" *ngIf="!pin.flagged">
          <ion-icon name="flag"></ion-icon>
        </button>
        <!-- unflag -->
        <button ion-button outline (click)="unflag(pin)" *ngIf="pin.flagged">
          <ion-icon name="ios-flag-outline"></ion-icon>
        </button>
        <!-- approve -->
        <button ion-button outline (click)="approve(pin)" *ngIf="!isApproved(pin)">
          <ion-icon name="checkmark-circle"></ion-icon>
        </button>
        <!-- favorite -->
        <button ion-button outline (click)="favorite(pin)" *ngIf="!isFavorite(pin)">
          <ion-icon name="star"></ion-icon>
        </button>
        <!-- unfavorite -->
        <button ion-button outline (click)="unfavorite(pin)" *ngIf="isFavorite(pin)">
          <ion-icon name="star-outline"></ion-icon>
        </button>
      </ion-item>
    </ion-item-group>
  </ion-list>

</ion-content>
