page-pin-list {
  .pins-button {
    display: inline;
    margin: 0;
    width: 50%;
  }

  .pins-form {
    // background-color: rgba(251, 162, 19, 0.2);
  }

  .pins-form .item {
    border: 0 !important;
  }

  .pins-form .item .item-content {
    // background-color: transparent !important;
  }

  .pins-form.is-hidden {
    display: none;
  }

  .pins-form.is-visible {
    display: visible;
  }

/*
  .item, .item h1, .item h2, .item h3, .item h4, .item h5, .item h6, .item p,
  .item-content, .item-content h1, .item-content h2, .item-content h3, .item-content h4, .item-content h5, .item-content h6,
  .item-content p,
  .item-content p.pins-address {
    white-space: normal;
  }

  .pins--flagged h2 {
    color: red;
  }

  .pins--flagged p {
    color: red;
  }

  .pins--unapproved h2 {
    color: lightgrey;
  }

  .pins--unapproved p {
    color: lightgrey;
  }

  .pins-detailLink {
    text-decoration: none;
  }*/
}
