page-map {
  #map {
    width: 100%;
    height: 100%;
  }

  .map-infoWindowContent {
    max-width: 200px;
    color: black;
  }

  .map-infoWindowTitle {
    color: black;
    font-weight: bold;
    text-decoration: none;
  }

  /*.map-infoWindowDirections {

  }*/

/*  .scroll {
    height: 100%;
  }
  // .map-openNowMessage {
  //   color: green;
  // }
*/

}
