page-map {
  #map {
    width: 100%;
    height: 100%;
  }

/*  .scroll {
    height: 100%;
  }

  // .map-openNowMessage {
  //   color: green;
  // }

  .map-infoContent {
    max-width: 200px;
    color: black;
  }

  .map-info-titleLink {
    font-weight: bold;
    text-decoration: none;
  }

  .map-info-DirectionsLink {

  }*/
}
