page-pin-detail {
/*  .pinDetail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
  }

  // .pinDetail-openNowMessage {
  //   color: green;
  //   font-weight: bold;
  // }

  .pinDetail-dailyHours {
    margin-top: 20px;
    margin-bottom: 25px;
  }*/
}
