<ion-header>
  <ion-navbar color="plastic">
    <ion-title>
      <img class="bag-logo" src="assets/images/bag.svg">
      Plastic Bag Recycler
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="account-content">
    <div class="account-centeredContent">
      <h1 *ngIf="user">Welcome back {{user.email}}!</h1>
      <img class="account-bagImg" src="assets/images/bag.svg">
      <h4 class="account-title">
        Get rid of that pile lurking underneath the sink. Recycle some plastic bags!
      </h4>

      <p *ngIf="!user">
        You don't need an account to use the app, but if you create one you'll be able to
        save your favorite locations!
      </p>

      <p>
        <button ion-button large color="plastic" (click)="openLoginModal()" *ngIf="!user">
          Login
        </button>

        <button ion-button large color="plastic" (click)="openSignupModal()" *ngIf="!user">
          Sign up
        </button>

        <button ion-button large color="plastic" (click)="logout()" *ngIf="user">
          Logout
        </button>
      </p>

      <a [href]="passwordResetUrl">Forgot Password</a>

    </div>

    <div class="account-footer">
      <p class="account-legalDisclaimer">
        Copyright 2016
        Raquel Bujans<br>
        Icons courtesy of Ryzhkov Anton from the
        <a href="https://thenounproject.com/">Noun Project</a> and
        <a href="http://cliparts.co/clipart/143174">Clip arts</a>
      </p>
    </div>

  </div>
</ion-content>
